<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Angelica </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src='http://use.edgefonts.net/emilys-candy.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/Angelica.css">
    <link rel="stylesheet" href="./CSS/Angelica-Port.css">
    <link rel="stylesheet" href="./CSS/Angelica-intro.css">
  </head>
