<!-- initial backdrop/intro -->
<div id="intro">
 <div id="container"></div>
   <div class="clickTextContainer">
     <span class="clickText">Click Anywhere</span>
   </div>
   <div class="iSeeYouContainer">
     <p class="iSeeYou">I'm watching you...</p>
 </div>
</div>
<!-- main section of website - is hidden during intro -->
<div id="mainBlock" class="hide">
