<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Angelica </title>
    <script type="text/javascript" src="./JS/libraries/emilys-candy.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Creepster|Eater|Flavors|Nosifer" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/Angelica-intro.css">
    <link rel="stylesheet" href="./CSS/Angelica.css">
    <link rel="stylesheet" href="./CSS/Angelica-Port.css">
    <!--font-family: 'Black And White Picture', sans-serif;
        font-family: 'Flavors', cursive;
        font-family: 'Eater', cursive;
        font-family: 'Creepster', cursive;
        font-family: 'Nosifer', cursive;
      -->

  </head>
  {{#if playIntro}}
    <body class="intro">
    {{>intro}}
  {{else}}
    <body class="nointro">
    {{>nointro}}
  {{/if}}
      <!-- section 1 -->
      {{#if playIntro}}
        <div class="pimg1"><!--first section in main --->
      {{else}}
        <div class="pimg1-nointro"><!--first section in main --->
      {{/if}}
        <div class="pageTitle">
          <span class="pageTitle-text">
            Angelica
          </span>
        </div>
      </div>
      <section class="section portfolio" id="makeup">
          <div class="port-banner banner" id="port-banner-makeup">MAKEUP</div>
          <div class="port-boxes-container">
            <div class="port-box-grid" id="inner-port-boxes">
              <div class="box bAnimate bAnimate-mkup" id="b1-mkup">
                    <div id="b1-layer-mkup" class="port-overlay"></div>
              </div>
              <div class="box bAnimate bAnimate-mkup" id="b2-mkup">
                  <div id="b2-layer-mkup" class="port-overlay"></div>
              </div>
              <div class="box bAnimate bAnimate-mkup" id="b3-mkup">
                  <div id="b3-layer-mkup" class="port-overlay"></div>
              </div>
              <div class="box bAnimate bAnimate-mkup" id="b4-mkup">
                <div id="b4-layer-mkup" class="port-overlay"></div>
              </div>
            </div>
            <div class="port-box-grid innerAbs">
              <div class="box bInner bInner-makeup" id="innerAbMU-1"></div>
              <div class="box bInner bInner-makeup" id="innerAbMU-2"></div>
              <div class="box bInner bInner-makeup" id="innerAbMU-3"></div>
              <div class="box bInner bInner-makeup" id="innerAbMU-4"></div>
            </div>
          </div>
        </section>
      <!-- end section 1 -->
      <!-- start section 2 -->

      <div class="pimg2">
        <div class="pageTitle">

        </div>
      </div>

<!--start section 3-->
<section class="section portfolio" id="photo">
    <div class="port-banner banner" id="port-banner-photo">PHOTOGRAPHY</div>
    <div class="port-boxes-container">
      <div class="port-box-grid" id="inner-port-boxes">
        <div class="box bAnimate bAnimate-photo" id="b1-photo">
              <div id="b1-layer-photo" class="port-overlay"></div>
        </div>
        <div class="box bAnimate bAnimate-photo" id="b2-photo">
            <div id="b2-layer-photo" class="port-overlay"></div>
        </div>
        <div class="box bAnimate bAnimate-photo" id="b3-photo">
            <div id="b3-layer-photo" class="port-overlay"></div>
        </div>
        <div class="box bAnimate bAnimate-photo" id="b4-photo">
          <div id="b4-layer-photo" class="port-overlay"></div>
        </div>
      </div>
      <div class="port-box-grid innerAbs">
        <div class="box bInner bInner-photo" id="innerAbPH-1"></div>
        <div class="box bInner bInner-photo" id="innerAbPH-2"></div>
        <div class="box bInner bInner-photo" id="innerAbPH-3"></div>
        <div class="box bInner bInner-photo" id="innerAbPH-4"></div>
      </div>
    </div>
  </section>

    <!-- end section 2-->
    <!-- start section 3 -->

      <div class="pimg3">
        <div class="pageTitle">

        </div>
      </div>
      <section class="section" id="about-contact-section">
        <div id="port-banner-aboutMe">
            <p>Here will be the confessions of a scary makeup artest
               and her love for dripping blood and melting skin as well
               as any other interesting vices.Here will be the confessions
               of a scary makeup artest and her love for dripping blood
               and melting skin as well as any other interesting vices.
            </p>
        </div>
          <div class="banner" id="port-banner-contactMe">
            Contact
          </div>
    </section>


      {{#if playIntro}}
        <div class="pimg1"><!--first section in main --->
      {{else}}
        <div class="pimg1-nointro"><!--first section in main --->
      {{/if}}
        <div class="pageTitle">
          <span class="pageTitle-text">
            Angelica
          </span>
        </div>
      </div>
  </div>
  </body>
  <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->

  <script type="text/javascript" src="./JS/libraries/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="./JS/libraries/jquery.mobile.custom.js"></script>
  <script type="text/javascript" src="./JS/libraries/delaunay.js"></script>
  <script type="text/javascript" src="./JS/libraries/bezPlugin.js"></script>
  <script type="text/javascript" src="./JS/angelica-main.js"></script>
  <script type="text/javascript" src="./JS/portfolio/port-expand-boxes.js"></script>

  {{#if playIntro}}
    <script type="text/javascript" src="./JS/angelica-intro.js"></script>
    <script type="text/javascript" src="./JS/libraries/TweenMax.min.js"></script>

  {{/if}}
</html>
