/*body #contact-page{
  font-family: emilys-candy, sans-serif;
  background-color:rgba(64, 64, 64, .7);
  height:100vh;
  width:100%;
  margin:0;
  box-sizing:border-box;
  padding:0;
}
*/

#contact-page{
  font-family: emilys-candy, sans-serif;
  background-color:rgba(64, 64, 64, .7);
  display:flex;
  flex-direction:column;
  height:100vh;
/*width:100vh;*/
  margin:0;
  /*justify-content: center;*/
  align-items: center;
  font-size:3rem;
}
.contact-fill{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 85vw;
  height: 80vh;
  margin-top:2.5rem;
  transform: skewX(-10deg);
  font-size: 1.5rem;

}

#port-banner-message{
  margin-top:1rem;
  font-size:3rem;
  background-color:black;
  width: 85vw;
  height: 6vh;
  cursor: pointer;
  transform: skewX(25deg);
  text-align: center;
  padding-top:2vh;
}




.contact-fill form{
  display:flex;
  flex-direction: column;
  /*margin:0 auto;*/

  background-color:black;
  width:80%;
  /*transform: skewX(15deg);*/
  padding-bottom:0;
  height: 100%;

}
.contact-fill p{
  font-size:3rem;
  align-self: center;
  transform: skewX(15deg);
  margin:2rem;
}


.contact-fill label{
  transform: skewX(15deg);
  color: #A40000;
  margin-top:1.25rem;
  margin-bottom:.5rem;
}


.contact-fill input, textarea, select{
  transform: skewX(15deg);
  color: black;
  font-size: 1rem;
  /*font-weight: bold;*/
  border: 1px solid rgb(44,42,51);
  /*font: inherit;*/
  background:grey;
  padding: .2rem .5rem;
}


.contact-fill textarea{
      /*padding: 1.5rem;*/
      margin-bottom:3rem;
      height: 5rem;
    }

.contact-fill input:invalid, select:invalid, textarea:invalid{
  background: rgba(255, 0, 0,.1);
  color:red;
  font-size: italic;
}



.contact-fill input:focus,select:focus,textarea:focus{
  outline: none;
  background-color:rgb(238,147,147);
  border-color:red;
}

.contact-fill .buttonDiv{
  margin: 0 auto;
  padding-bottom: .5rem;
}

.contact-fill button{
  /*margin: 1.5rem auto;
  transform: skewX(15deg);*/
  color:#A40000;
  background: grey;
  border-color: grey;
  font-family: emilys-candy, sans-serif;
  font-size: 1.5rem;
  width: 8rem;
  cursor: pointer;


}
.contact-btn-text{
  font-family: emilys-candy, sans-serif;
  color:#A40000;
  transform: skewX(-15deg);
}

.contact-fill button[disabled]{
  cursor: not-allowed;
  border: rgba(64, 64, 64, .7);
  background: rgb(39, 47, 46);
  color:rgba(164, 0, 0, .4);
}


button, .modal_actions{
  /*font-size: 1rem;
  width: 10rem;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  */

}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{
   -webkit-text-fill-color: black;
   -webkit-box-shadow: 0 0 0 30px grey inset;
}

/** MODAL and Backdrop styling ***/
.backdrop{
  z-index:150;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(64, 64, 64, .7);

}

.modal {
  position: fixed;
  width: 40%;
  z-index: 200;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  background: #9CA0A3;
  padding: 1rem;
  border: 1px solid grey;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  font-size: 1rem;
  font-weight:lighter;
}

.modal__actions {
  text-align: center;
  width:100%;
  border: #162947;
  background:#162947;
  color: whitesmoke;
  /*font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  */
}

.modal__action{

  text-decoration: none;
  color: whitesmoke;

}
/* Portrait  - ipad and ipadPro */
@media only screen
  and (min-device-width: 760px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2){
        body{
          background-color: rgba(64, 64, 64, 1);
        }
        .contact-fill{
          font-size:3.5rem;
          transform: skewX(-5deg);
        }

        .contact-fill label{
          margin-bottom: 2.5rem;
          margin-top: 2.5rem;
        }
        .contact-fill input, textarea, select{
            font-size:2.5rem;
          }

        #port-banner-message{
          font-size:5rem;
          margin-top:3rem;
          padding-top: 3rem;
          }

        .contact-fill p {
          margin: 7rem;
          font-size: 7rem;
        }

        button, .modal_actions{
          font-size: 2.0rem;
          padding:1rem;
        }
        textarea{
          margin-bottom: 1rem;
        }
        .contact-fill button{
        font-size: 2rem;
        width: 20rem;
      }

}

/* landscape for ipad and ipro */
@media only screen
  and (min-device-width: 1023px)
  and (orientation: landscape){
    .contact-fill{
      height:86vh;
      margin-top:1rem;
    }
    .contact-fill label {
      font-size: 3rem;
      margin-bottom:1.5rem;
    }
    .contact-fill p {
      font-size:4rem;
    }

.contact-fill input, textarea, select {
    margin-bottom: .5rem;
    font-size: 1.5rem;
  }

  }

  /*landscape ipad pro only  */

  @media only screen
    and (min-device-width: 1300px)
    and (orientation: landscape){
      .contact-fill{
        margin-top:4rem;
        height:75vh;
        margin-bottom:3rem;
      }
      .contact-fill label{
        margin-bottom:3rem;

      }
      .contact-fill button{
        /*font-size: 2rem;
        width: 20rem;
        padding: .75rem;
        line-height: 1rem;
        */
      }
    }

/* PORTRAIT -galaxy s5 landscape, pixel 2 , pixel 2 xl, iphone5,
iphone 6, 7,8, ihpone x */

@media only screen
  and (max-device-width: 500px){
    #port-banner-message {
      font-size: 6rem;
      margin-top: 5rem;
      padding-top:4rem;
  }
  .contact-fill {
        transform: skewX(0deg);
        width: 90%;
        font-size: 4rem;
        margin-top:1rem;
      }
  .contact-fill p {
    font-size: 6rem;
    margin: 10rem;
  }
  .contact-fill label{
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
  .contact-fill input, textarea, select{
    font-size: 3rem;
  }
  .contact-fill button {
    font-size: 2.5rem;
    margin: 2rem auto;
    width: 18rem;
    transform: skewX(0deg);
  }
  button, .modal_actions{
    font-size: 2.0rem;
    padding:1rem;
  }
  textarea{
    margin-bottom:5rem;
  }
}

/* LANDSCAPE -galaxy s5 landscape, pixel 2 , pixel 2 xl, iphone5,
iphone 6, 7,8, ihpone x, ipad, ipad pro */

@media only screen
  and (max-device-width: 823px)
  and (orientation: landscape)
  {
    .contact-fill {
      transform: skewX(0deg);
      height: 90vh;
      margin-top: 1rem;
    }
    .contact-fill form{
              justify-content: center;
    }

    .contact-fill p {
      margin:0;
      height:0;
      font-size: 0rem;
    }
    .contact-fill label{
        font-size: 2.3rem;
        margin-bottom: 1.25rem;
      }
.contact-fill input:invalid, select:invalid, textarea:invalid{
      background: rgba(255, 0, 0,.3);
    }
    .contact-fill input, textarea, select{
      font-size: 1.5rem;
    }
    .contact-fill textarea {
    padding: 0rem;
    margin-bottom:1rem;
  }
  /*  .contact-fill button {

      margin: .5rem auto;
      transform: skewX(0deg);
      padding-bottom: 1rem;
    }
    button, .modal_actions {
      font-size: 1.5rem;
    width:12rem;
    padding: 0;
  }
  */

  #port-banner-message{
      height: 3rem;
      margin-bottom: 1rem;
}

  }

/*PORTRAIT iphone X portrait only */
  @media only screen
  and (min-device-width : 375px)
  and (max-device-height : 812px)
  and (orientation : portrait)
  {
    .contact-fill {
        margin-top: 5rem;
      }
    .contact-fill p {
      margin:10rem;
    }
    textarea{
      margin-bottom:5rem;

    }

  }

  /* iphone X landscape only
  and pixel 2xl*/

  @media only screen
  and (max-device-height : 411px)
  and (min-device-width : 811px)
  and (orientation : landscape) {
    #port-banner-message{
      height:8vh;
      font-size:2rem;
    }
    .contact-fill label{
      font-size:2rem;
      margin-bottom: .5rem;
    }
    .contact-fill button{
      height: 1.75rem;
      font-size: 1.5rem;
  }

  }
