.section{
  text-align: center;
  height:32rem;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-color:black;
  color:#ddd;
}

.portfolio{
  position:relative;
}

.banner{
  text-align: center;
  height:7rem;
  line-height: 7rem;
  font-size: 5rem;
  width:85%;
  opacity: 1;
  transform: skewX(25deg);
}

.port-banner{
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


#port-banner-makeup{
  background: #404040;
  color: #A40000;
}

#port-banner-photo{
  color: #404040;
  background: #A40000;
}

.port-boxes-container{
  position: absolute;
  /* this acts as if its the
  only thing in the container
  intead
  of being NEXT to the banner*/

  height: 30rem;
  width: 75%;

}

.port-box-grid{
      position:absolute;
      height: 100%;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:99;
}

.port-boxes-container .innerAbs{
  position: absolute;
  z-index: 100;
  opacity: .7;
}

  .box{
    width: 25%;
    /*height: 0%;*/
    display:inline-block;
  }
  .bInner{
      width: 25%;
      height:100%;
      cursor: pointer;
  }

  .bInner-photo{
    display:none;
  }

  .bInner-makeup{
    display:none;
  }

  .port-overlay{
      position:absolute;
      top:0;
      left:0;
      content: "";
      width:100%;
      height:100%;
    }

  #b4-layer-mkup{
    background-color:rgba(88, 0, 0, .8);
  }


  #b4-mkup{
    background-image: url("./../Images/mkup/A-ClownGoneMad.jpg");
    animation-duration:1s;
  }

  #b4-layer-photo{
    background-color:rgb(64,64,64,.8);
  }

  #b4-photo{
    background-image: url("./../Images/mkup/A-ClownGoneMad.jpg");
    animation-duration:1s;
  }

  #b3-mkup{
    background-image: url("./../Images/mkup/A-mkup-buyEye.jpg");
    animation-duration:.75s;
  }
  #b3-layer-mkup{
    background-color:rgb(164, 0, 0,.8);
  }

  #b3-photo{
    background-image: url("./../Images/mkup/A-mkup-buyEye.jpg");
    animation-duration:.75s;
  }
  #b3-layer-photo{
    background-color:rgb(80,80,80,.8);;
  }


  #b2-mkup{
      animation-duration:.50s;
      background-image: url("./../Images/mkup/A-mkup-byeArm.jpg");
  }
  #b2-layer-mkup{
    background-color:rgb(139, 0, 0,.8);
  }
  #b2-photo{
      animation-duration:.50s;
      background-image: url("./../Images/mkup/A-mkup-byeArm.jpg");
  }
  #b2-layer-photo{
    background-color:rgb(64,64,64,.8);
  }

  #b1-mkup{
    animation-duration:.25s;
    background-image: url("./../Images/mkup/A-mkup-byeFace.jpg");
  }
  #b1-layer-mkup{
    background-color:rgb(164, 0, 0,.8);
  }

  #b1-photo{
    animation-duration:.25s;
    background-image: url("./../Images/mkup/A-mkup-byeFace.jpg");
  }
  #b1-layer-photo{
    background-color:rgb(80,80,80,.8);
  }

  .bAnimate{
    animation-timing-function: cubic-bezier(.49,.06,.35,.83);
    animation-fill-mode: forwards;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  #about-contact-section{
    flex-direction:column;
  }

  #port-banner-aboutMe{
    background-color:rgba(64, 64, 64, .7);
    white-space: normal;
    width: 95%;
    height:25%;
    margin-top:3rem;
    transform: scale(3);
    opacity:0;
  }

  #port-banner-aboutMe.in-view{
    animation: pop-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

  }

  #port-banner-aboutMe p{
    font-family:Oswald;
    padding:1rem;
    font-size:1.2rem;
    line-height: 1.5rem;


  }


  #port-banner-contactMe{
    background-color:rgba(164, 0, 0, .4);
    margin-top: 5rem;
    transform: scale(3);
    opacity:0;
    cursor:pointer;

  }

  #port-banner-contactMe.in-view{
    animation: pop-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

  }




  /* animations */

  @keyframes growHeight{
      from{
      height: 0%;
      }
      to{
        height: 100%;
      }
  }
  @keyframes shrinkHeight{
    from{
      height:100%;
    }
    to{
      height:0%;
    }
  }

  @keyframes growWidth{
    from{
      width:0%;
      opacity:0;
      /*color:black;*/
      /*opacity: 1;*/
    }
    to{
      width:85%;
      opacity:1;
      /*color:#A40000;*/
    }
  }

  @keyframes shrinkWidth{
    from{
      width:85%;
      opacity:1;
    }
    to{
      width:0px;
      opacity:0;
    }
  }



    @keyframes pop-in{
      0%{
        opacity:1;

      }
      100%{
        transform:scale(1);
        opacity:1;
      }

    }


  @media only screen and (max-width: 823px)
  {
    #port-banner-aboutMe p{
            font-size: 1rem;
            padding: 0;
    }
  }

    /* media queries */

/* landscape of all devices*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 823px)
and (orientation : landscape) {
  .portfolio{
    height: 19rem;
  }

}



    @media only screen and (max-width:450px)
    {
      .port-box-grid{
        flex-direction:column;
      }
      .port-boxes-container{
        height:90%;
        width:90%;
      }
      .box{
        height: 10%;
        width: 90%;
      }
      #b4-layer-mkup{
        background-color:rgb(64,0,0);
      }
      #b3-layer-mkup{
        background-color:rgb(112,0,0);
      }
      #b2-layer-mkup{
        background-color:rgb(176,0,0);
      }
      #b1-layer-mkup{
        background-color:rgb(232,0,0)
      }

      #b4-layer-photo{
        background-color:	rgb(48,48,48);
      }
      #b3-layer-photo{
        background-color:rgb(104,104,104);
      }
      #b2-layer-photo{
        background-color:rgb(152,152,152);
      }
      #b1-layer-photo{
        background-color:rgb(200,200,200);
      }
      .portfolio{
            height: 20rem;
      }

      .port-banner{
        font-size:3.5rem;
        width:80%;
      }

      #port-banner-aboutMe{
        height:35%;
      }

      @keyframes growWidth{
        from{
          width:0%;
          opacity:0;
          font-size:0;
        }
        to{
          width:80%;
          opacity:1;
          font-size:3.5rem;
        }
      }

      @keyframes shrinkWidth{
        from{
          font-size:0;
          width:80%;
          opacity:1;

        }
        to{
          font-size:0;
          width:0px;
          opacity:0;

        }
      }

    }


  /* Portrait  and landscape - ipad and ipadPro */

  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2){

      #port-banner-aboutMe{
        padding: 1rem;
        height: 50%;
        margin-top: 1rem;
        margin-bottom: -2rem;
      }

      #port-banner-aboutMe p{
        font-size:2rem;
        line-height: 2.5rem;
      }


  }
  /* ipad pro Landscape */
  @media only screen
    and (min-device-width: 1366px)
    and (max-device-width: 1366px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    #port-banner-aboutMe{
      padding: 1rem;
      height: 50%;
      margin-top: 1rem;
      margin-bottom: -2rem;
    }

    #port-banner-aboutMe p{
      font-size:2rem;
      line-height: 2.5rem;
    }


}

  /* landscape for ipad and ipro */
  /*@media only screen
    and (min-device-width: 1023px)
    and (orientation: landscape){


    }

    /*landscape ipad pro only  */

    /*@media only screen
      and (min-device-width: 1300px)
      and (orientation: landscape){

      }

  /* PORTRAIT -galaxy s5 landscape, pixel 2 , pixel 2 xl, iphone5,
  iphone 6, 7,8, ihpone x */

  /*@media only screen
    and (max-device-width: 500px){

  }


  /*PORTRAIT iphone X portrait only */
    /*@media only screen
    and (min-device-width : 375px)
    and (max-device-height : 812px)
    and (orientation : portrait)
    {
    }

    /* iphone X landscape only
    and pixel 2xl*/

    /*@media only screen
    and (max-device-height : 411px)
    and (min-device-width : 811px)
    and (orientation : landscape) {


    }
    */
