@font-face {
  font-family: dripping-blood;
  src: url("./../../Data/dripping-blood.ttf");
}
@font-face {
  font-family: you-murderer;
  src: url("./../../Data/youmurdererbb_reg.otf");
}
:root {
    --box-height:0px;
    --box-width:0px;
}


body{
  margin: 0;
  height:100%;
  width:100%;
  font-size: 16px;
  font-family:you-murderer,sans-serif;
  font-style: italic;
  font-weight: 200;
  line-height: 1.8em;
  background-color: #000;
  color:#A40000;
  overflow: hidden;
}

.hide{
  display:none;
}


#mainBlock{
  height:100vh;
}
@keyframes reveal{
  100%{
          opacity:1;

      }

  }

.pimg1, .pimg2, .pimg3{
  position: relative;/* position of the container is relative,
  it simply moves as it should. */
  opacity: 0.70;
  background-position: center; /* center the image */
  background-size: cover; /*cover the entire space */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* this is what makes it parallaxy.  fixed is not absolute,
  so the parent is not relavent. it willbe fixed to the viewport.
  this is relative to the viewport.
  */
  /* for mobile devices, do background-attachment: scroll */
  transition:opacity 12s;

}

.pimg1{
  background-image: url('./../Images/Photos/selfies/A-selfi-faded.jpg');
  min-height: 100%;
  opacity: 0;
  animation: reveal 2s forwards;
  animation-play-state: paused;
}



.pimg2{
    background-image: url('./../Images/Photos/random/a-birdInHand.jpg');
    min-height: 400px;

}
.pimg3{
    background-image: url('./../Images/Photos/selfies/A-chestTatoo.jpg');
    min-height: 400px;
}
.section{
  text-align: center;
  height:32rem;
}

.section-dark{
  background-color:black;
  color:#ddd;
}
.ptext{
  position: absolute;
  top:20%;
  width:100%;
  text-align: left;
  font-size: 50px;
  transform: rotate(20deg) translateX(50px) translateY(125px);
}
.ptext .border{
  padding: 10px;
  transform: rotate(30deg);
}
.ptext .border .trans{
  background-color: transparent;

}

/* portfolio in Angelica-Port */

@media (max-width:568px){

    .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }
}
