.portfolio{
  position:relative;
}

.banner{
  text-align: center;
  height:7rem;
  line-height: 7rem;
  font-size: 5rem;
  width:85%;
  opacity: 1;
  transform: skewX(25deg);
  margin-left: -2rem;
}

.port-banner{
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


#port-banner-makeup{
  background: #404040;
  color: #A40000;
}

#port-banner-photo{
  color: #404040;
  background: #A40000;
}

.port-boxes-container{
  position: absolute;
  /* this acts as if its the
  only thing in the container
  intead
  of being NEXT to the banner*/

  height: 30rem;
  width: 75%;

}

.port-box-grid{
      position:absolute;
      height: 100%;
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:99;
}

.port-boxes-container .innerAbs{
  position: absolute;
  z-index: 100;
  opacity: .7;
}

  .box{
    width: 25%;
    /*height: 0%;*/
    display:inline-block;
  }
  .bInner{
      width: 25%;
      height:100%;
      cursor: pointer;
  }

  .bInner-photo{
    display:none;
  }

  .bInner-makeup{
    display:none;
  }

  .port-overlay{
      position:absolute;
      top:0;
      left:0;
      content: "";
      width:100%;
      height:100%;
    }

  #b4-layer-mkup{
    background-color:rgba(88, 0, 0, .8);
  }


  #b4-mkup{
    background-image: url("./../Images/mkup/A-ClownGoneMad.jpg");
    animation-duration:1s;
  }

  #b4-layer-photo{
    background-color:rgb(64,64,64,.8);
  }

  #b4-photo{
    background-image: url("./../Images/mkup/A-ClownGoneMad.jpg");
    animation-duration:1s;
  }

  #b3-mkup{
    background-image: url("./../Images/mkup/A-mkup-buyEye.jpg");
    animation-duration:.75s;
  }
  #b3-layer-mkup{
    background-color:rgb(164, 0, 0,.8);
  }

  #b3-photo{
    background-image: url("./../Images/mkup/A-mkup-buyEye.jpg");
    animation-duration:.75s;
  }
  #b3-layer-photo{
    background-color:rgb(80,80,80,.8);;
  }


  #b2-mkup{
      animation-duration:.50s;
      background-image: url("./../Images/mkup/A-mkup-byeArm.jpg");
  }
  #b2-layer-mkup{
    background-color:rgb(139, 0, 0,.8);
  }
  #b2-photo{
      animation-duration:.50s;
      background-image: url("./../Images/mkup/A-mkup-byeArm.jpg");
  }
  #b2-layer-photo{
    background-color:rgb(64,64,64,.8);
  }

  #b1-mkup{
    animation-duration:.25s;
    background-image: url("./../Images/mkup/A-mkup-byeFace.jpg");
  }
  #b1-layer-mkup{
    background-color:rgb(164, 0, 0,.8);
  }

  #b1-photo{
    animation-duration:.25s;
    background-image: url("./../Images/mkup/A-mkup-byeFace.jpg");
  }
  #b1-layer-photo{
    background-color:rgb(80,80,80,.8);
  }

  .bAnimate{
    animation-timing-function: cubic-bezier(.49,.06,.35,.83);
    animation-fill-mode: forwards;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  #about-contact-section{
    flex-direction:column;
  }

  #port-banner-aboutMe{
    background-color:rgba(64, 64, 64, .7);
    white-space: normal;
    width: 100%;
    height:25%;
    margin-top:3rem;
    transform: scale(3);
    opacity:0;
  }

  #port-banner-aboutMe.in-view{
    animation: pop-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

  }

  #port-banner-aboutMe p{
    font-family:Oswald;
    padding:1rem;
    font-size:1.2rem;
    line-height: 1.5rem;


  }


  #port-banner-contactMe{
    background-color:rgba(164, 0, 0, .4);
    margin-top: 5rem;
    transform: scale(3);
    opacity:0;
    cursor:pointer;

  }

  #port-banner-contactMe.in-view{
    animation: pop-in;
    animation-duration: .3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

  }




  /*#portfolio:hover #port-banner{width:0;}*/

  @keyframes growHeight{
      from{
      height: 0%;
      }
      to{
        height: 100%;
      }
  }
  @keyframes shrinkHeight{
    from{
      height:100%;
    }
    to{
      height:0%;
    }
  }

  @keyframes growWidth{
    from{
      width:0%;
      font-size:0px;
      /*color:black;*/
      /*opacity: 1;*/
    }
    to{
      width:85%;
      font-size:5rem;
      /*color:#A40000;*/
    }
  }

  @keyframes shrinkWidth{
    from{
      width:85%;
    }
    to{
      width:0px;
      color:black;
    }
  }



    @keyframes pop-in{
      0%{
        opacity:1;

      }
      100%{
        transform:scale(1);
        opacity:1;
      }

    }

    /* media queries */
    @media only screen and (max-width:450px)
    {
      .port-box-grid{
        flex-direction:column;
      }
      .port-boxes-container{
        height:90%;
        width:90%;
      }
      .box{
        height: 10%;
        width: 90%;
      }
      #b4-layer-mkup{
        background-color:rgb(64,0,0);
      }
      #b3-layer-mkup{
        background-color:rgb(112,0,0);
      }
      #b2-layer-mkup{
        background-color:rgb(176,0,0);
      }
      #b1-layer-mkup{
        background-color:rgb(232,0,0)
      }

      #b4-layer-photo{
        background-color:	rgb(48,48,48);
      }
      #b3-layer-photo{
        background-color:rgb(104,104,104);
      }
      #b2-layer-photo{
        background-color:rgb(152,152,152);
      }
      #b1-layer-photo{
        background-color:rgb(200,200,200);
      }



    }
